# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable hacker-news': 'hacker-news:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'hacker-news'
      'submenu': [
        { 'label': 'Top', 'command': 'hacker-news:top' }
      ]
    ]
  }
]
